.container {
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
}
.hidden {
    display: none;
}
.riddle {
    background-color: #f1f1f1;
    padding: 20px;
    margin-bottom: 20px;
}

.show-answer {
    font-size: 16px;
    padding: 5px 10px;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    margin-top: 10px;
}

.show-answer:hover {
    background-color: #3e8e41;
}

.answer {
    font-style: italic;
    margin-top: 10px;
}
